<div class="card">
	<div class="item item-divider">
		<h2>Pronto!</h2>
		<p>Seu treino está completo.</p>
	</div>
	<div class="item item-text-wrap">
		<div class="list">
			<div class="item">
				Treino {{training.name}}
			</div>
			<div class="item" ng-show="sendTraining()">
				Para {{training.athlete.name}}
			</div>
			<label class="item item-input item-floating-label">
				<span class="input-label">Mensagem</span>
				<input type="text" placeholder="Mensagem" ng-model="training.message">
			</label>
			<div class="padding-top">
				<button class="button button-block button-balanced button-outline" ng-click="saveTraining()">
					{{sendTraining() ? 'Enviar' : 'Salvar'}}
				</button>
			</div>
		</div>
		{{messages}}
	</div>
</div>
