<div class="item item-input-inset stable-bg">
    <label class="item-input-wrapper">
    	<i class="icon ion-search placeholder-icon"></i>
    	<input type="text" placeholder="Pesquisar" ng-model="search">
    </label>
    <i class="icon ion-ios-close-outline padding-horizontal clear-search" ng-show="search" ng-click="search=''"></i>
</div>

<div class="list">
	<div class="item item-thumbnail-left item-checkbox-right" ng-repeat="exercice in filteredExercices = (getExerciceDay(letter) | filter:search)">
		<img src="{{exercice.image || 'img/default_exercise_pic.jpg'}}"/>
		{{exercice.name}}
		<span class="item-note">
			{{exercice.muscle}}
	    </span>
	    <p>
	    	<span>{{exercice.intensity.series || 0}} Séries</span>
	    	<span>{{exercice.intensity.repetitions || 0}} Repet.</span>
	    	<span>{{exercice.intensity.weight || 0}} Kg</span>
	    </p>
	    
		<label class="checkbox checkbox-balanced">
			<input type="checkbox" ng-model="exercice.selected" ng-change="selectExercice(exercice, letter)"/>
		</label>
	    
	</div>
</div>

<div class="list list-inset" ng-hide="filteredExercices.length">

    <div class="item text-center">
      Sua busca não retornou resultados
    </div>
</div>
