<style>
	.pic-container:before, .profile-pic{
		background-image: url({{user.profilePic}});
	}
</style>

<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-balanced">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<a href="#/app/profile/notifications" class="button button-icon button-clear ion-android-notifications{{user.unreadNotifications.length ? '' : '-none'}}">
					<span ng-show="user.unreadNotifications.length" class="notifications-count">{{user.unreadNotifications.length}}</span>
				</a>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
    
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content>
		    <div class="menu-profile-container dark-bg">
				<span class="circle profile-pic profile-pic-editing"></span>
				<label class="stable">{{user.name}}</label>
			</div>
			<ion-list>
		      	<ion-item menu-close href="#/app/profile">
		          Início
		        </ion-item>
		        <ion-item menu-close ng-click="login()" ng-controller="AuthController" ng-if="user.isTransient">
		          Login
		        </ion-item>
		        <ion-item menu-close href="#/app/exercices/create">
		          Novo exercício
		        </ion-item>
		        <ion-item menu-close href="#/app/exercices">
		          Exercícios
		        </ion-item>
		        <ion-item menu-close href="#/app/training/list">
		          Treinos
		        </ion-item>
		        <ion-item menu-close href="#/app/training/create">
		          Novo treino
		        </ion-item>
		        <ion-item menu-close href="#/app/profile/athletes" ng-if="user.cref">
		          Meus alunos
		        </ion-item>
		        <ion-item menu-close href="#/app/profile/coachs">
		          Meus treinadores
		        </ion-item>
		        <ion-item menu-close ng-click="logout()" ng-controller="AuthController" ng-if="!user.isTransient">
		          Sair
		        </ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
