<ion-view view-title="Notificação" ng-controller="ShowContactNotificationController">

	<ion-content>
		
		<div class="card">
			<div class="item item-divider">
				<h2>{{notification.title}}</h2>
				<p>
					<a ng-href="#app/user/{{notification.sender.id}}" class="not-link balanced">{{notification.sender.name}}</a> gostaria de ser seu(sua) treinador(a).
				</p>
			</div>
			<div class="item item-text-wrap">
				{{notification.message}}
			</div>
			
			<div class="row">
				<div class="col text-center" ng-show="notification.status">
					<button class="button button-clear button-dark full-width" disabled ng-click="rejectContact(notification)">
						Contato {{notification.status == 'accepted' ? 'confirmado' : 'rejeitado'}}
					</button>
				</div>
				<div class="col text-center" ng-show="!notification.status">
					<button class="button button-clear button-balanced full-width icon-button ion-ios-close-outline" ng-click="rejectContact(notification)">
						Rejeitar
					</button>
				</div>
				<div class="col text-center" ng-show="!notification.status">
					<button class="button button-clear button-balanced full-width icon-button ion-ios-checkmark-outline" ng-click="acceptContact(notification)">
						Aceitar
					</button>
				</div>
			</div>
			
		</div>
	</ion-content>
</ion-view>