<ion-view view-title="Meus alunos" ng-controller="CoachController">
	<ion-content>
		<div class="item item-input-inset stable-bg item-button-right">
		    <label class="item-input-wrapper">
		    	<i class="icon ion-search placeholder-icon"></i>
		    	<input type="text" placeholder="Pesquisar" ng-model="search">
		    </label>
		    <i class="icon ion-ios-close-outline padding-horizontal clear-search" ng-show="search" ng-click="search=''"></i>
		</div>
		
		<div class="list">
			<div class="item item-avatar item-icon-right" ng-repeat="relation in filteredRelations = (relations | filter:search)">
				<img src="{{relation.related.profilePic}}">
				{{relation.related.name}}
				<p>{{relation.related.email}}</p>
				<span ng-if="!relation.confirmed" class="item-note">
					Não confirmado
				</span>
				<i class="icon ion-android-more-vertical"></i>
			</div>
		</div>
		
		<div class="list list-inset" ng-hide="relations.length">
		    <div class="item text-center icon-left">
		    	<i class="icon ion-android-warning"></i>
				Você ainda não possui alunos.
		    </div>
		</div>
		
	</ion-content>
	
	
	<div class="bar bar-footer">
	 	<div class="title icon">
			<button class="button button-balanced button-clear pull-right icon-left ion-person-add" ng-click="openInvite()"></button>
		</div>
	</div>
	
</ion-view>