<ion-view view-title="Meus alunos" ng-controller="CoachController">
	<ion-content>
	
		<div class="item item-input-inset stable-bg item-button-right">
		    <label class="item-input-wrapper">
		    	<i class="icon ion-search placeholder-icon"></i>
		    	<input type="text" placeholder="Pesquisar" ng-model="search">
		    </label>
		    <i class="icon ion-ios-close-outline padding-horizontal clear-search" ng-show="search" ng-click="search=''"></i>
		</div>

	</ion-content>
	
	<div class="bar bar-footer bar-clear">
	 	<div class="title icon">
			<button class="button button-balanced button-clear pull-right icon-left ion-ios-personadd" ng-click="openInvite()"></button>
		</div>
	</div>
	
</ion-view>