<ion-view view-title="Editar perfil" ng-controller="EditProfileController">

	<style>
		.profile-pic{
			background-image: url({{user.profilePic}});
		}
		.new-profile-pic{
			background-image: url({{newImageSrc}});
		}
	</style>
	
	<ion-tabs class="tabs-striped tabs-top tabs-background-light tabs-color-balanced">

		<ion-tab title="Geral">
			<ion-nav-view>
				<ion-content>
					<div class="editing-profile-container item item-divider">
						<div ng-click="openPictureType($event)" class="circle profile-pic profile-pic-editing"></div>
						<label class="balanced">{{user.name}}</label>
					</div>
					
					<div class="list">
						<label class="item item-input item-floating-label">
							<span class="input-label">Nome</span>
							<input type="text" placeholder="Nome" ng-model="formUser.name">
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">Email</span>
							<input type="email" placeholder="Email" ng-model="formUser.email">
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">Telefone</span>
							<input type="tel" placeholder="Telefone" ng-model="formUser.phone">
						</label>
						<label class="item item-input item-floating-label">
							<span class="input-label">Data de nascimento</span>
							<input type="{{birthDateType}}" placeholder="Data de nascimento" ng-model="formUser.birthDate" type="text" ng-focus="updateBirthDateType('date')" ng-blur="updateBirthDateType()"/>
						</label>
						
						<label class="item item-input item-select">
							<div class="input-label">
						      Sexo
						    </div>
							<select ng-model="formUser.gender">
						      <option>Masculino</option>
						      <option>Feminino</option>
						    </select>
						</label>
						
					</div>
				</ion-content>
			</ion-nav-view>
		</ion-tab>
		
		<ion-tab title="Segurança">
			<ion-nav-view>
				<ion-content>
					<label class="item item-input item-floating-label">
						<span class="input-label">Senha</span>
						<input type="{{inputPasswordType}}" placeholder="Senha" ng-model="formUser.password">
					</label>
					<i class="ion-eye padding-horizontal show-password {{inputPasswordType == 'text' ? 'active' : ''}}" ng-click="togglePassword()"></i>
				</ion-content>
			</ion-nav-view>
		</ion-tab>
		<ion-tab title="Endereço">
			<ion-nav-view>
				<ion-content>
					<label class="item item-input item-floating-label">
						<span class="input-label">Rua</span>
						<input type="text" placeholder="Rua" ng-model="formUser.address.street">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Número</span>
						<input type="number" placeholder="Número" ng-model="formUser.address.number">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Cidade</span>
						<input type="text" placeholder="Cidade" ng-model="formUser.address.city">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Estado</span>
						<input type="text" placeholder="Estado" ng-model="formUser.address.state">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">País</span>
						<input type="text" placeholder="País" ng-model="formUser.address.country">
					</label>
				</ion-content>
			</ion-nav-view>
		</ion-tab>
		
		<ion-tab title="Professor">
			<ion-nav-view>
				<ion-content>
<!-- 					<div class="item item-toggle"> -->
<!-- 						Eu sou um professor -->
<!-- 						<label class="toggle toggle-balanced"> -->
<!-- 							<input type="checkbox" ng-model="formUser.isTeacher"> -->
<!-- 								<div class="track"> -->
<!-- 								<div class="handle"></div> -->
<!-- 							</div> -->
<!-- 						</label> -->
<!-- 					</div> -->
					<div class="item item-divider text-wrap">
						Informe seu CREF para tornar-se um professor.
					</div>
					<label class="item item-input item-floating-label">
						<span class="input-label">CREF</span>
						<input type="text" placeholder="CREF" ng-model="formUser.cref">
					</label>
				</ion-content>
			</ion-nav-view>
		</ion-tab>

	</ion-tabs>
 	
 	<div class="bar bar-footer bar-light footer-buttons">
 		<div class="row">
			<div class="col">
				<button class="button button-balanced button-clear icon-left ion-ios-checkmark-empty" ng-click="updateProfile(formUser)">Salvar</button>	
			</div>
		</div>
	</div>
 
</ion-view>