<ion-view view-title="Notificações" ng-controller="ListNotificationsController">

	<ion-content>
		<ion-refresher pulling-text="Arraste para atualizar"
	         pulling-icon="ion-ios7-arrow-thin-down"
	         on-refresh="refresh()">
		</ion-refresher>
		
		<div class="list" ng-show="loaded">
			<div class="item item-divider">
				<h2>Notificações não lidas</h2>
			</div>
			<a href="{{notification.link + notification.id}}" class="item" ng-repeat="notification in user.unreadNotifications track by $index" ng-click="readNotification(notification)">
				<h2>
					{{notification.title}}
					<i class="icon {{getNotificationIcon(notification)}} float-right"></i>
				</h2>
				<p>{{notification.message}}</p>
				<span class="item-note">
					{{notification.sender.name}}
				</span>
			</a>
			
		    <div class="item text-center" ng-hide="user.unreadNotifications.length">
				Nenhuma nova notificação
		    </div>
			
			<div class="item item-divider" ng-show="user.readNotifications.length && readLoaded">
				<h2>Notificações lidas</h2>
			</div>
			<a href="{{notification.link + notification.id}}" class="item" ng-repeat="notification in user.readNotifications track by $index" ng-show="readLoaded">
				<h2>
					{{notification.title}}
					<i class="icon {{getNotificationIcon(notification)}} float-right"></i>
				</h2>
				<p>{{notification.message}}</p>
				<span class="item-note">
					{{notification.sender.name}}
				</span>
			</a>
		</div>
	</ion-content>
</ion-view>