<ion-view view-title="Exercícios">
	<ion-content ng-controller="ListExerciceController">

		<ion-refresher pulling-text="Arraste para atualizar"
         pulling-icon="ion-ios7-arrow-thin-down"
         on-refresh="refresh()">
		</ion-refresher>

		
		<div class="item item-input-inset">
		    <label class="item-input-wrapper">
		    	<i class="icon ion-search placeholder-icon"></i>
		    	<input type="text" placeholder="Pesquisar" ng-model="search">
		    </label>
		    <i class="icon ion-ios-close-outline padding-horizontal clear-search" ng-show="search" ng-click="search=''"></i>
		</div>

		<div class="list">
			<a ng-href="#app/exercice/{{exercice.id}}" class="item item-thumbnail-left" ng-repeat="exercice in exercices | filterByProperties:search:['name','muscle'] track by $index">
				<img src="{{exercice.image}}"/>
				{{exercice.name}}
				<span class="item-note">
					{{exercice.muscle}}
				</span>
			</div>
		</div>

		<div class="list list-inset" ng-hide="!exercices || exercices.length">

		    <div class="item text-center">
		      Sua busca não retornou resultados
		    </div>

		</div>
		

	</ion-content>
</ion-view>