<ion-view view-title="Novo treino" ng-controller="TrainingController">

	<ion-content>
		<ion-slide-box show-pager="false">
<!-- 			<ion-slide> -->
<!-- 				<div ng-include src="'templates/training/create-step-start.html'"></div> -->
<!-- 			</ion-slide> -->
			<ion-slide>
				<div ng-include src="'templates/training/create-step-exercices.html'"></div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
	
	<div class="bar bar-footer bar-light">
		<button class="button button-clear button-balanced icon-left ion-ios-arrow-left"  ng-click="previousStep()">Anterior</button>
		<button class="button button-clear button-balanced icon-right ion-ios-arrow-right" ng-click="nextStep()">Próximo</button>
	</div>
	
</ion-view>