<div class="item item-input-inset stable-bg">
    <label class="item-input-wrapper">
    	<i class="icon ion-search placeholder-icon"></i>
    	<input type="text" placeholder="Pesquisar" ng-model="searchUser">
    </label>
    <i class="icon ion-ios-close-outline padding-horizontal clear-search" ng-show="searchUser" ng-click="searchUser=''"></i>
</div>

<div class="list">
	<div class="item item-toggle item-avatar item-icon-right" ng-repeat="exercice in filteredExercices = (getExerciceDay('A') | filter:search)">
		<img src="img/default_profile_picture.jpg">
		<h2>{{exercice.name}}</h2>
		<i class="icon ion-ios-arrow-right"></i>
	</div>
</div>

<div class="list list-inset" ng-hide="filteredExercices.length">
   <div class="item text-center icon-left">
		<i class="icon ion-android-warning"></i>
		Sua busca não retornou resultados
    </div>
</div>
