<ion-view view-title="{{::executingDay.training.name}} - {{::executingDay.marker}}" ng-controller="ExecuteTrainingController">
	<style>
	 .item-progress:after{
	    width: {{completePercent}}%;
	 }
	</style>
	<ion-content class="has-footer">
		<div class="card" ng-show="executingDay">
			<div class="list">
				<div class="item item-divider item-text-wrap item-progress">
					<a class="not-link balanced" ng-href="#/app/training/show/{{executingDay.training.id}}/{{executingDay.marker}}">
					{{::executingDay.training.name}} - {{::executingDay.marker}}</a>
					<span class="item-note dark">{{ (executingDay.startDate || now) | date : 'dd MMM yyyy HH:mm'}}</span>
					<p>
						<div class="row no-padding">
							<div class="col no-padding">
								{{::getDayExercicesMuscles(executingDay)}}
							</div>
							<div class="col no-padding text-right">
								<span class="balanced">
									{{timer.hours}}:{{timer.minutes}}:{{timer.seconds}}
								</span>
							</div>
						</div>
					</p>
					
				</div>
				<div class="item item-icon-right item-text-wrap item-thumbnail-left item-icon-left" ng-repeat="trainingExercice in executingDay.trainingExercices track by $index">
					<img src="{{exercice.image || 'img/default_exercise_pic.jpg'}}"/>
					<h2>{{::trainingExercice.exercice.name}}</h2>
					<p>
						<span>{{trainingExercice.intensity.series || 0}} Séries</span>
				    	<span>{{trainingExercice.intensity.repetitions || 0}} Repet.</span>
				    	<span>{{trainingExercice.intensity.weight || 0}} Kg</span>
					</p>
					<i ng-show="executingDay.started" ng-click="checkExercice(trainingExercice)" class="icon {{trainingExercice.done ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'}} balanced"></i>
				</div>
			</div>
			
		</div>
		
		<div class="card" ng-show="executingDay  && executingDay.finished">
			<div class="list">
				<a ng-href="#app/training/charts/{{::executingDay.training.id}}/{{::executingDay.marker}}" class="item text-center balanced">
					Ver análise do treino
				</a>
			</div>
		</div>
	</ion-content>
	
	<div class="bar bar-footer footer-buttons" ng-show="executingDay && !executingDay.finished">
 		<div class="row">
			<div class="col">
				<button class="button button-balanced button-clear icon-left ion-ios-close-outline" ng-click="discardExecution(executingDay)">Descartar</button>
			</div>
			<div class="col" ng-show="!executingDay.running">
				<button class="button button-balanced button-clear icon-left ion-ios-play-outline" ng-click="startExecution(executingDay)">Iniciar</button>
			</div>
			<div class="col" ng-show="executingDay.running || executingDay.started">
				<button class="button button-balanced button-clear icon-left ion-ios-checkmark-outline" ng-click="saveExecution(executingDay)">Salvar e finalizar</button>
			</div>
		</div>
	</div>

</ion-view>