/* custom */
ion-content{
	background-color: #E9EAED;
}
.item-floating-label{
	background:white;
}
/* custom end*/

.clear-search {
	position: absolute;
    right: 12px;
    top: 16px;
}
.loading-container {
	align-items: flex-end;
	padding-bottom: 30px;
}
.loading-container .loading {
	border-radius: 30px;
}

/* Profile */
.circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.profile-pic {
	width: 150px;
	height: 150px;
	border: solid 4px white;
	background-size: cover;
    background-position: center center;
    margin:auto;
}

.profile-pic-editing {
	width: 60px;
	height: 60px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 5;
    border-width: 2px;
    float:left;
    margin: 15px;
}
.editing-profile-container, .menu-profile-container{
	float:left;
	width:100%;
	display:flex;
}
.menu-profile-container .profile-pic-editing{
	width: 45px;
	height: 45px;
	border-width: 0px;
	display:flex;
}
.editing-profile-container label{
    font-size: 20px;
    margin: auto 0;
}
.menu-profile-container label{
    font-size: 16px;
    margin: auto 0;
}

.profile-name {
	font-size: 20px;
	font-weight: bold;
}

.icon-button i{
	color: #333;
    font-size: 30px;
}

.icon-button:active{
	color: #555;
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}
.new-profile-pic {
	height: 150px;
	background-position: center center;
	background-size: cover;
}
.pic-container {
	position:relative;
}
.pic-container:before {
	content:"";
	position:absolute;
	height:104%;
	width:106%;
	left:-3%;
	top: -2%;
	z-index:-1;
	background-size: cover;
    background-position: center center;
    filter:blur(6px);
    -o-filter:blur(6px);
    -ms-filter:blur(6px);
    -moz-filter:blur(6px);
    -webkit-filter:blur(6px);
}
.full-width {
	width:100%;
}
.button-clear.edit-profile-button{
	position:absolute;
	right:0px;
	top:0px;
	color:white;
}

.popup-exercice-intensity {
	text-align: center;	
}
input[type=text].input-box {
	border: 1px solid #dddddd;
	padding: 4px;
	text-align: center;
}

/* Customizing ionic */
	
.item-icon-right .icon{
	z-index: 999;
}

/**/