/* utils */
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.no-padding{
	padding: 0px;
}
.no-padding-horizontal{
	padding-left: 0px;
	padding-right: 0px;
}
.no-padding-vertical{
	padding-top: 0px;
	padding-bottom: 0px;
}
.not-link{
	text-decoration: none;
    color: inherit;
}
/* utils end */
/* custom */
ion-content{
	background-color: #E9EAED;
}
.item-floating-label{
	background:white;
}
/* custom end*/

.clear-search {
	position: absolute;
    right: 12px;
    top: 16px;
}
.show-password{
    position: absolute;
    right: 12px;
    top: 40px;
    z-index: 100;
    font-size: 25px;
    color: #999;
}
.show-password.active{
	color: #333;
}
.loading-container {
	align-items: flex-end;
	padding-bottom: 30px;
}
.loading-container .loading {
	border-radius: 10px;
}
.notifications-count{
	position: absolute;
    top: -6px;
    right: 25px;
    color: white;
    font-size: 14px;
    background: #ef473a;
    min-width: 20px;
    height: 18px;
    margin-top: 8px;
    line-height: 18px;
    border-radius: 8px;
    margin-right: -10px;
    border: solid 1px #27ae60;
}
.input-floating-error{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    color: red;
}
/* Profile */
.circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.profile-pic {
	width: 150px;
	height: 150px;
	border: solid 4px white;
	background-size: cover;
    background-position: center center;
    margin:auto;
}
.profile-properties .col:not(:first-child){
	border-left: solid 1px #ddd;
}
.profile-properties .col{
	text-decoration: none;
    color: inherit;
}
.profile-pic-editing {
	width: 60px;
	height: 60px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 5;
    border-width: 2px;
    float:left;
    margin: 5px 15px 5px 0;
}
.editing-profile-container, .menu-profile-container{
	float:left;
	width:100%;
	display:flex;
}
.menu-profile-container .profile-pic-editing{
	width: 45px;
	height: 45px;
	border-width: 0px;
	display:flex;
	margin:15px;
}
.editing-profile-container label{
    font-size: 20px;
    margin: auto 0;
}
.menu-profile-container label{
    font-size: 16px;
    margin: auto 0;
}

.profile-name {
	font-size: 20px;
	font-weight: bold;
}

.icon-button i{
	color: #333;
    font-size: 30px;
}

.icon-button:active{
	color: #555;
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}
.new-profile-pic {
	height: 150px;
	background-position: center center;
	background-size: cover;
}
.pic-container {
	position:relative;
	background-color: rgba(39, 173, 96, 0.7);
}
.bigger-counter{
	font-size: 20px;
}
.pic-container:before {
	content:"";
	position:absolute;
	height:104%;
	width:106%;
	left:-3%;
	top: -2%;
	z-index:-1;
	background-size: cover;
    background-position: center center;
    filter:blur(6px);
    -o-filter:blur(6px);
    -ms-filter:blur(6px);
    -moz-filter:blur(6px);
    -webkit-filter:blur(6px);
}
.full-width {
	width:100%;
}
.button-clear.edit-profile-button{
	position:absolute;
	right:0px;
	top:0px;
	color:white;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0px 0px 0px 100%;
}

.popup-exercice-intensity {
	text-align: center;	
}
input[type=text].input-box {
	border: 1px solid #dddddd;
	padding: 4px;
	text-align: center;
}

/* Training */
.fake-tabs .button.selected {
	border-bottom: solid 4px;
}
.training-timer{
	font-size: 18px;
    line-height: 34px;
}
.video-wrapper{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.image-selector{
	width:100%;
	min-height: 180px;
	background: #ddd;
	padding: 44px 15px;
	background-size: cover;
	background-position: center center;
}
.image-selector .icon{
	font-size: 70px;
}
/* /Training */

/* Customizing ionic */
	
.item-icon-right .icon{
	z-index: 999;
}
.bar-footer.footer-buttons{
	padding: 0px;
}
.bar-footer.footer-buttons .row{
	padding: 0px;
}
.bar-footer.footer-buttons .row .col{
	text-align: center;
}
.item-progress:after{
    position: absolute;
    bottom: -1px;
    left: 0;
    content: " ";
    display: block;
    background: #27ae60;
    height: 3px;
    transition: width 200ms ease-in-out;
}

.item-checkbox-right{
	padding-right: 60px;
}
.item-checkbox-right .checkbox {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    z-index: 3;
    margin-top: -21px;
}
.item-checkbox-right .checkbox input, .item-checkbox-right .checkbox-icon{
	float:right;	
}

a.button .icon:before, a.button.icon:before, a.button.icon-left:before, a.button.icon-right:before{
	margin-top: 0px;
}
.item-thumbnail-left > img:first-child{
    object-fit: cover;
}
/**/